body {

    height: 900px;
    
    background-color: black;

}



#flex-container{

    display:flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    flex-wrap: wrap;
    

}

.x{
    height: 25%;
    padding: 10px;
    text-align: center;
}

.title{

    color: rgb(243, 239, 240);
    background-color: rgb(42, 230, 57);
    
}

.phone{

    color: rgb(249, 253, 253);
    background-color: rgb(28, 214, 84);

}

.address{

    color: rgb(228, 225, 222);
    background-color: rgb(68, 211, 33);

}

.email-address{

    color: azure;
    background-color: chartreuse;
    
}



.button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    min-height: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px
    
}
  
  /* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}

.footer {
    color: chartreuse;
}

.center {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



