*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-style: normal;
    width:90%;
    margin: 0 auto;
    
}

body{
    background-color: black;
}

#container{

    display:flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

h1{
    font-size: 7vmin;

}


.header{

    color: rgb(0, 0, 0);
    background-color: rgb(228, 240, 178);
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    padding: 2rem;
    
    
}

.phone{

    color: rgb(249, 253, 253);
    background-color: rgb(218, 216, 145);
    border-radius: 15px;
    padding: 2rem;

}

.postal-address{

    color: rgb(0, 0, 0);
    background-color: rgb(180, 199, 110);
    margin-top: 2rem;
    border-radius: 15px;
    padding: 2rem;

}

.email-address{

    color: azure;
    background-color: rgb(243, 241, 220);
    font-size: 3vmin;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    padding: 2rem;
    
}


.download {

    width: 70%;
    

}

.button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 2rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 15px;    
}
  
  /* Darker background on mouse-over */
.button:hover {
    background-color: RoyalBlue;
}



      
    



/* @media screen and (max-width:700px) { */
 
    /* .center{ */
        /* min-height: 200px; */
    /* } */

/* } */



